<div id="background">
  <div nz-row style="margin-top: 100px;">
    <div nz-col nzSpan="8" nzOffset="8">
      <div style="width: 400px;text-align: center">
        <h1><strong>Project</strong> Performance Review</h1>
      </div>
    </div>
  </div>
  <div nz-row style="margin-top: 30px;">
    <div nz-col id="container" nzSpan="8" nzOffset="8">
      <div id="form">
        <form nz-form [formGroup]="loginForm" (ngSubmit)="saveForm()">
          <nz-form-item>
            <nz-form-control>
              <nz-input-group [nzPrefix]="prefixUser">
                <input type="text" nz-input formControlName="username" placeholder="Username" />
              </nz-input-group>
              <nz-form-explain *ngIf="
                  loginForm.get('username').dirty &&
                  loginForm.get('username').errors
                ">Please
                input your username!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-input-group [nzPrefix]="prefixLock">
                <input type="password" nz-input formControlName="password" placeholder="Password" />
              </nz-input-group>
              <nz-form-explain *ngIf="
                  loginForm.get('password').dirty &&
                  loginForm.get('password').errors
                ">Please
                input your Password!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button nz-button class="login-form-button" [nzType]="'primary'">
                Log in
              </button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>
  </div>
  <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
  <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
</div>
